h1 {
  text-align: center;
  background-color: aqua;
  background-color: beige;
}

  img {

    background-image: url("paper.gif");
    
    
  }


about-me {
    float: right;}

    .p3 {
      font-family: "Lucida Console", "Courier New", monospace;
    }
    
    body {
      background-color: lightblue;
    }

    img {
      text-align: right;
      width: 50px;
      height: 50px;
     border-style: dotted;
    }

    h4 {
      
      background-color: blue;
      
      }


    

